body{
  padding-top:50px;
}
/*Fondo*/
#headerWrapper{
  position:relative;
  padding:0;
  margin:0;
  /*Tamaño fijo y no scroll*/
  overflow:hidden;
  height:600px;
  background-image:url(../images/headerlogo/background.png);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position:top center;
  /*Fija en la pantalla y cualquier div puede estar sobre ella*/
  background-attachment:fixed;
}
/*Logo*/
#logotext{
  position:absolute;
  width:100%;
  height:180px;
  background-image:url(../images/headerlogo/text.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:70% 180px;
  top:50%;
  margin-top:-90px;
}
/*Flor rosada*/
#fore-flower{
  position:absolute;
  width:100%;
  height:400px;
  background-image: url(../images/headerlogo/fore-flower.png);
  background-size:auto 400px;
  background-repeat: no-repeat;
  background-position: right bottom;
  top:525px;
  right:-50px;
}

/*Flor morada*/
#back-flower{
  position: absolute;
  width: 100%;
  height: 350px;
  background-image: url(../images/headerlogo/back-flower.png);
  background-position: left-bottom;
  background-repeat: no-repeat;
  background-size:auto 350px;
  top: 400px;
  left: -25px;
}

.img-thumb{
  width:auto;
  height: 150px;
}

#footer{
  margin-top:25px;
}
/*Imagenes en modal*/
img.details{
  width: 33%;
  margin:15px auto;
}
/*Centrar la tabla*/
.table-auto{
  width:auto;
  margin:0 auto;
}
/*Botón admi producto*/
#add-product-btn{
  margin-top: -35px;
}
/*Imagen en edición*/
.saved-image img{
  width:200px;
  height:auto;
}

#login-form{
  width:50%;
  height:70%;
  border:2px solid #000;
  border-radius: 15px;
  /*Sombra bajo el div*/
  /*7px hacia abajo, 7px hacia arriba,15px intensidad en pixeles, color*/
  box-shadow: 7px 7px 15px black;
  margin:7% auto;
  padding: 15px;
  background-color: #fff;
}
